
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="암호(가상)화폐 김치프리미엄 전세계 거래소 코인시세 조회 및 비교  - 크라이프라이스, 김치프리미엄, 김프, 역프, 역김치프리미엄, cryprice, cryptoprice, crptocurrency premium">
<meta name="author" content="scolkg">
<meta name="keyword" content="김치프리미엄, 김프, 역프, 코인시세조회, 가상화폐시세, 역김치프리미엄, 비트코인 시세, 암호화폐 시세, 비트 차액 비교, 크라이프라이스, 비트코인 재정거래, 일본재정거래, 재정거래, 코인베이스 프리미엄, cryprice, cryptoprice, crptocurrency premium, kimchipremium, coinbasepremium, coinbase premium, coinbase premium index">

<meta property="og:type" content="website">
<meta property="og:title" content="가상화폐(비트코인) 김치프리미엄 비교 크라이프라이스, cryprice, cryptoprice, crptocurrency premium">
<meta property="og:description" content="전세계 모든 암호화폐 가격비교 크라이프라이스(cryprice)">
<meta property="og:image" content="/images/cryprice_og.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">
<meta property="og:url" content="http://cryprice.com">
<meta name="naver-site-verification" content="ad8ce36cbd7741feacc2d7ac882051197be857e4" />
<meta name="theme-color" content="" />

<title>김치프리미엄 김프(kimchi premium) - 크라이프라이스</title>

<link rel='stylesheet' href='https://cdn1.cryprice.com/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='https://cdn1.cryprice.com/stylesheets/style.css?v=1.62' />
<link rel='stylesheet' href='https://cdn1.cryprice.com/stylesheets/alram.css?v=1.03' />
<link rel='stylesheet' href='https://cdn1.cryprice.com/stylesheets/chat.css?v=1.37' />
<link rel='stylesheet' href='https://cdn1.cryprice.com/stylesheets/jquery-ui.css' />
<link rel="stylesheet" href="https://cdn1.cryprice.com/stylesheets/animate.min.css">
<link rel='stylesheet' href='https://cdn1.cryprice.com/stylesheets/login.css' />

<script>
// 2017.8.7:Gun: 밤낮모드 값을 저장하기 위해 공통부분인 header.js에 변수 선언.
var dayOrNight = null;
var userInfo = "";
var locale = "ko";
var loginMessage = "";
var url = "https://pro.scolkg.com";
var tickerUrl = "https://ticker2.cryprice.com";
var cdnPath = "https://cdn1.cryprice.com";
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102575803-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102575803-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-102575803-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5563SK6');</script>
<!-- End Google Tag Manager -->

</head>

<body>
	<div class="wrapper">

<div id="topArea">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav class="navbar navbar-inverse">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
								<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
							</button>
							<a class="navbar-brand logotext" href="/"><img src="https://cdn1.cryprice.com/images/logo.svg?ver=1.0"/></a>
						</div>
						<div id="navbar" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a href="/">Exchanges</a></li>
								<li><a href="/chart">chart</a></li>
								<!--
								<li><a href="/fundingrate">FundingRate</a></li>
								 -->
								<li><a href="/coinmarketcap">Coinmarketcap</a></li>
								<li><a href="/binance">Binance</a></li>
								<li><a href="/bitmex">Bitmex</a></li>
								<li><a href="/portfolio">Portfolio</a></li>
								<li><a href="/boards">Notice</a></li>
								<li><a href="/dict">Info</a></li>
							</ul>

							<div class="inlineGrp">
							</div>
							<ul class="nav navbar-nav navbar-right">
								<li id="li_signup">
									<div class="topselect">
										<select class="form-control" id="setLocale">
											<option value="ko">한국어</option>
											<option value="en">English</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<!--/.nav-collapse -->
				</nav>
			</div>
		</div>
	</div>
</div>

<div id="top_sub" class="top_sub">
	<div class="container">

				<div class="row">
					<div class="col-sm-12">
				    	<div class="top_sub">
							<div class="left">
								<div class="topExRate">
									<img src="/images/money-01.svg" style="height: 17px"/>
									<span id="sp_exchange_rate" class="white">loading..</span>
									<span class="white">원</span>
								</div>
								<div class="topExRate">
									<img src="/images/money-02.svg" style="height: 17px"/>
									<span id="sp_exchange_rate2" class="white">loading..</span>
									<span class="white">원</span>
								</div>
								<div class="topExRate" title="upbit, binance 비트코인 기준 테더가격 단위:KRW">
									<img src="/cryptocurrency-icons-master/svg/color/usdt.svg" style="height: 17px" alt="usdt "/>
									<span id="usdtprice" class="white">loading..</span>
								</div>
								<div class="topExRate" title="코인마켓캡 제공 테더가격 단위:USD">
									<span id="usdtUsdprice" class="white">loading..</span>
								</div>
								<div class="topExRate" title="코인마켓캡 제공 도미넌스">
									<span class="white"><img src="/cryptocurrency-icons-master/svg/color/btc.svg" style="height: 17px" alt="upbit binance 비트코인 가격 기준 "/> Dominance:</span>
									<span id="btc_dominance" class="white">loading..</span>
									<span class="white">%</span>
								</div>
								<div class="topExRate" title="코인베이스-바이낸스간 프리미엄 단위:USD">
									<span class="white">Coinbase Premium: </span>
									<span id="coinbasePremium" class="white">loading..</span>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>
</div>

<div class="margintop10"></div>
<div id="rhkdrh1" class="container">



			<div class="row">
				<div class="col-sm-12" style="padding: 0 0 0 0">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- 메인상단 -->
					<ins class="adsbygoogle"
						style="display: block; width: 100%; height: 280px; margin-top: 3px;"
						data-ad-client="ca-pub-4019630459292914"
						data-ad-slot="4842498142"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>


	<div class="margintop10"></div>
</div>

		<div class="container contents">

			<div class="margintop10"></div>
			<div class="row squareShadow">
				<div class="col-sm-12 ">
					<button id="filterOnOffBtn" class="btn topMenu" type="button" data-toggle="collapse"
						data-target="#collapseFilter" aria-expanded="false"
						aria-controls="collapseFilter">
						코인 검색
					</button>

					<button id="alram" class="btn topMenu">
						알람
					</button>

					<button id="domiChartBtn" class="btn topMenu" type="button" data-toggle="collapse"
						data-target="#collapseChart" aria-expanded="false"
						aria-controls="collapseChart">
						도미&amp;테더 차트
					</button>
				</div>
			</div>

			<div class="margintop10"></div>
			<div class="row collapse squareShadow" id="collapseChart">
				<div class="margintop10"></div>
				<div class="col-sm-6">
					<div style="padding-bottom: 5px">비트 도미넌스 차트</div>
					<div id="domichart" style="height: 350px"> </div>
					<div class="margintop10"></div>
				</div>
				<div class="col-sm-6">
					<div style="padding-bottom: 5px">빗섬원화/바이낸스테더 환산가</div>
					<div id="tetherChart" style="height: 350px"> </div>
				</div>
			</div>

			<div class="margintop10"></div>
			<div id="rhkdrh2" class="row">



						<div class="col-sm-6" style="padding: 0 0 0 0">
							<a href="https://www.bybit.com/ko-KR/register?affiliate_id=15417&language=ko-KR&group_id=17616&group_type=1" onclick="captureOutboundLink('https://www.bybit.com/ko-KR/register?affiliate_id=15417&language=ko-KR&group_id=17616&group_type=1', 'bybitoutboundPC'); return false;" style="cursor: hand">
								<img alt="이 링크를 통해 가입하면 거래수수료의 15% 돌려 받습니다." src="https://cdn1.cryprice.com/images/donate/bybittogether2.png" style="width: 100%; height: 225.75px">
							</a>
						</div>
						<div class="col-sm-6" style="padding: 0 0 0 0">
							<a href="https://www.huobi.co.kr/maid/maidRank?invite_code=78854" onclick="captureOutboundLink('https://www.huobi.co.kr/maid/maidRank?invite_code=78854', 'huobikoreaoutboundM'); return false;" style="cursor: hand">
								<img alt="" src="https://cdn1.cryprice.com/images/donate/huobikoreatogether2.png" style="width: 100%">
							</a>
						</div>



			</div>

			<div class="margintop10"></div>
			<div class="margintop10"></div>

			<div class="row">
				<div class="col-sm-8 ">
					<div class="margintop10"></div>

					<div id="filterArea" class="row">
						<div class="col-sm-12 collapse in squareShadow" id="collapseFilter">
							<div id="app_coinfilter">
	<div class="margintop5"></div>
	<div class="coinfilter filterUnderLine button-container">
		<button class="ellipse_btn off top" v-bind:class="changeMode">
			<div class="favorText">기준거래소</div>
		</button>
		<button v-for="(value, key) in result.favorCriteria" class="ellipse_btn" v-bind:class="[isFavor('favorCriteria', value) ? 'on' : 'off', changeMode]" v-bind:class="changeMode.night" v-on:click="setExFilter('favorCriteria', value)" name="favorCriteria">
			<div class="favorText">{{value[0].toUpperCase()+value.slice(1, value.length)}}</div>
		</button>
	</div>
	<div class="coinfilter filterUnderLine button-container">
		<button class="ellipse_btn off top"  v-bind:class="changeMode">
			<div class="favorText">비교거래소</div>
		</button>
		<button v-for="(value, key, index) in result.favorTarget" class="ellipse_btn" v-bind:class="[isFavor('favorTarget', value) ? 'on' : 'off', changeMode]" v-bind:class="changeMode" v-on:click="setExFilter('favorTarget', value)" name="favorTarget">
			<div class="favorText">
				<template v-if="value == 'huobipro'">
					{{value[0].toUpperCase()+ value.replace('huobipro','huobikorea').slice(1, value.replace('huobipro','huobikorea').length)}}
				</template>
				<template v-else>
					{{value[0].toUpperCase()+value.slice(1, value.length)}}
				</template>


			</div>
		</button>
	</div>


	<div class="columnheader">
		<input type="text" v-model="searchStr" v-on:keyup="searchFilter()" class="searchFilter" placeholder="코인 검색" maxlength="15"/>
	</div>

	<div class="coinfilter filterUnderLine button-container">
		<button v-for="(value, key, index) in filteredCoins" class="ellipse_btn" v-bind:class="[isFavor('favorCoins', value) ? 'on' : 'off', changeMode]" v-bind:class="changeMode" v-on:click="setExFilter('favorCoins', value)" name="favorCoins">
			 <div class="favorText">{{value}}</div>
		</button>
	</div>

</div>
						</div>
					</div>

					<div class="margintop10"></div>

					<div class="row">
						<div class="col-sm-12 squareShadow"  style="border-radius: 13px;">

<div id="app_section" class="section">
	<div>
		<div class="row">
			<div class="col-sm-6">
				<div class="left">
					<img class="cryptoSectionIconr"
						 :src=getSymImg(selSymbol)
						 @error="onImgError()"
				    >
					<div class="sectionTitle">

						<select name="symbols" class="pairSelect" v-model="selSymbol" v-on:change="switchCoin(selSymbol)">
							<template v-for="pair in pairList">
								<option v-if="pair.isHaveBinance" :value="pair.currency" :selected="pair.currency == 'selSymbol' ? 'selected' : ''" >{{pair.koreanName}}({{pair.currency}})</option>
							</template>
						</select>
					</div>
				</div>

			</div>


			<div class="col-sm-6">
				<div class="right">
					<div class="sectionTitle" style="display: inline-block;">
						<span class="">등락</span>
					</div>
					<div class="sectionKrw" style="display: inline-block;margin-left: 5px">
						<span v-bind:class="upbitTicker.change.class">{{upbitTicker.change.sign}}{{upbitTicker.change.num*100 | toFixed(2)}}%</span>
					</div>

					<div class="sectionTitle" style="display: inline-block;margin-left: 10px">
						<span class="">거래대금</span>
					</div>
					<div class="sectionKrw" style="display: inline-block;margin-left: 5px">
						<span >{{upbitTicker.volume.num*100 | setVolumeFormat}}</span>
					</div>

				</div>
			</div>

			<div class="col-sm-2">
			</div>
		</div>

		<div class="margintop5"></div>
		<div class="filterUnderLine"></div>
		<div class="margintop15"></div>

		<div class="row">
			<div class="col-sm-12">
				<div class="center">
					<div class="center" style="display: inline-block;">
						<div class="left">
							<a href="https://upbit.com" target="_blank">
								<img src="https://cdn1.cryprice.com/images/exlogo/logo_upbit.svg" class="cryptoSectionIcon">
							</a>
							<div class="sectionTitle"><span class="">업비트</span></div>
						</div>

						<div class="right">
							<div class="sectionKrw"><span class="">{{upbitTicker.price.num | setWonDecimal}}원</span></div>
							<div class="sectionDetail">${{realTimeTicker.b | setDollerDecimal}}</div>
						</div>
					</div>


					<div class="sectionTitle sectionSign">
						<span class="" style="font-size: 60px;position: relative;top: -4px;">
							-
						</span>
					</div>


					<div class="center" style="display: inline-block;">
						<div class="left">
							<a href="https://binance.com/kr/register?ref=CPJ985EK" target="_blank">
								<img src="https://cdn1.cryprice.com/images/exlogo/logo_binance.svg" class="cryptoSectionIcon">
							</a>
							<div class="sectionTitle"><span class="">바이낸스</span></div>
						</div>

						<div class="right">
							<div class="sectionKrw"><span class="">{{realTimeTicker.c | setWonDecimal}}원</span></div>
							<div class="sectionDetail">${{realTimeTicker.d | setDollerDecimal}}</div>
						</div>
					</div>


					<div class="sectionTitle sectionSign">
						<span class="" style="font-size: 35px;top: -14px;position: relative;">
							=
						</span>
					</div>

					<div class="center" style="display: inline-block;">
						<div class="center">
							<div class="sectionTitle"><span class="">김치프리미엄</span></div>
						</div>

						<div class="right">
							<div class="sectionKrw"><span v-bind:class="premieumClass">{{premieumSign}}{{realTimeTicker.e | numberWithCommas}}%</span></div>
							<div class="sectionTitle"><span v-bind:class="premieumClass">{{premieumSign}}{{realTimeTicker.f | setWonDecimal}}원</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="left" style="display: inline-block; width: 50%; top: 20px;position: relative;">
				<img id="openChart" src="https://cdn1.cryprice.com/images/ticker/chart.svg" class="cryptoSectionIcon" style="cursor: pointer;" >
			</div>

			<div class="right" style="display: inline-block;width: 49%;top: 25px;position: relative;">
				<div class="sectionOffer" style="display: inline-block;" ><span class="">cryprice.com</span></div>
			</div>
		</div>
	</div>


	<div class="margintop10"></div>

</div>

		<div id="tickerChart">

		</div>


						</div>
					</div>



	<div id="alramPop" class="layer alramLayer" style="display: none;">
		<div class="alramTop">
			<div class="alramLogoArea">
				<img src="https://cdn1.cryprice.com/images/alram.svg" /> Alram
			</div>

			<div class="toggleArea">
				<label class="switch">
					<input id="alramToggle" type="checkbox" checked="checked">
					<span class="slider round"></span>
				</label>
				<a id="cloasAlram" class="close"></a>
			</div>
		</div>

		<div class="alramMidDesc">
			<div class="midLeft">
				<div>
					<div id="alramNoti" class="valArea" style="margin-bottom: 5px; color: blue;">알람 설정할 수치를 표에서 선택 하세요.</div>
				</div>
				<div>
					<label for="alramTarget1">항목(단위)</label>
					<div id="alramTarget1" class="valArea"></div>
				</div>
				<div>
					<label for="alramTarget2">기준거래소</label>
					<div id="alramTarget2" class="valArea"></div>
				</div>
				<div>
					<label for="alramTarget3">비교거래소</label>
					<div id="alramTarget3" class="valArea"></div>
				</div>
				<div>
					<label for="alramTarget4">코인</label>
					<div id="alramTarget4" class="valArea"></div>
				</div>
				<div>
					<label for="setNumberCurrent">현재수치</label>
					<div class="valArea"><input id="setNumberCurrent" type="text" value="" readonly="readonly" maxlength="15"/></div>
				</div>
				<div>
					<label for="setNumberFuture">설정수치</label>
					<div class="valArea"><input id="setNumberFuture" type="text" value=""  maxlength="15"/></div>
				</div>
				<input type="hidden" id="gb" name="gb">
			</div>
		</div>

		<div class="alramMid">
			<div class="slidecontainer">
				<input type="range" id="myRange" min="-100" max="100" value="0" class="slider2" >
				<p>
					<span id="percent"></span>% (<span id="numberGap" class="valArea">0</span>)
				</p>
			</div>
		</div>

		<div class="alramMidDesc" style="margin-top: 15px; ">
			<div class="midLeft">
				<div>
					<label for="setNumberFuture">텔레그렘 설정(telegram seting optional)</label>
					<div id="alramNoti" class="valArea">
						하단 입력칸에 텔레그램 정보를 입력하시면 텔레그램으로 푸시메시지를 받을 수 있습니다.
						<a href="https://www.youtube.com/watch?v=aMpb2UJ3_r4" target="_blank">키 발급방법</a> /
						<a href="https://www.youtube.com/watch?v=fftB4cVsW_o" target="_blank">Chat id확인</a>
					</div>
				</div>
				<div>
					<label for="setNumberFuture">BOT API KEY</label>
					<div class="valArea"><input id="botApiKey" type="text" value=""  maxlength="200"/></div>
				</div>
				<div>
					<label for="setNumberFuture">CHAT ID</label>
					<div class="valArea"><input id="chatId" type="text" value=""  maxlength="20"/></div>
				</div>
			</div>
		</div>

		<div class="alramBottom">
			<button id="alramSave" class="alram_btn">저장</button>
			<button id="alramDel" class="alram_btn">삭제</button>
			<button id="alramDelAll" class="alram_btn">모두삭제</button>
			<button id="pushAllow" class="alram_btn ">푸시하기</button>
		</div>
	</div>


					<div class="margintop10"></div>

					<div class="row">
						<div class="col-sm-12 squareShadow">
							<div class="margintop20"></div>
							<div id="app_coinfilterAll">
	<div class="columnheader">
		<ul>
			<li><a href="javascript:;" class="nounder" v-bind:class="[isAll ? 'on' : 'off', '']" title="코인 검색" v-on:click="setCoinFilter('all')">전체</a></li>
			<li><a href="javascript:;" class="nounder" v-bind:class="[isAll ? 'off' : 'on', '']" title="코인 검색" v-on:click="setCoinFilter('favor')">관심</a></li>
		</ul>
		<input type="text" v-model="searchStr" v-on:keyup="searchFilter()" class="searchFilter" placeholder="코인 검색" maxlength="15"/>
	</div>

</div>


<div id="app_coinculumns">
	<div class="columnheader">
		<ul>
			<li v-for="column in columns">
				<a href="javascript:;" v-bind:class="[column.isOn ? 'on' : 'off', '']" v-on:click="saveCulumns(column)" class="" title="코인">{{column.name}}</a>
			</li>
		</ul>
	</div>
</div>

				<div id="app_coinboard" >
					<div class="row">
						<div class="col-sm-12">

						</div>
					</div>

					<div v-for="(value, key, index) in filteredRows" class="exTable">
						<template v-if="value.exdiff.length > 0">
							<div class="exInfo">
								<a v-bind:href="value.exInfo.criteriaUrl" target="_blank"><img v-bind:src="value.exInfo.creteriaImgurl" class="eximg"/></a>
								<div class="ex1">{{value.exInfo.criteriaName[0].toUpperCase()+value.exInfo.criteriaName.slice(1, value.exInfo.criteriaName.length)}}</div> <div class="ex2">기준거래소</div>
								<a v-bind:href="value.exInfo.targetUrl" target="_blank"><img v-bind:src="value.exInfo.targetImgurl" class="eximg"/></a>
								<div class="ex1">

									<template v-if="value.exInfo.targetName == 'binanceF'">
										{{value.exInfo.targetName[0].toUpperCase()+ value.exInfo.targetName.replace('binanceF','BinanceFutrue').slice(1, value.exInfo.targetName.replace('binanceF','BinanceFutrue').length)}}
									</template>
									<template v-else-if="value.exInfo.targetName == 'huobipro'">
										{{value.exInfo.targetName[0].toUpperCase()+ value.exInfo.targetName.replace('huobipro','HuobiKorea').slice(1, value.exInfo.targetName.replace('huobipro','HuobiKorea').length)}}
									</template>
									<template v-else>
										{{value.exInfo.targetName[0].toUpperCase()+ value.exInfo.targetName.slice(1, value.exInfo.targetName.length)}}
									</template>


								</div> <div class="ex2">비교거래소</div>
							</div>
							<table class="table">
								<thead>
									<tr name="culumnTrs" class="columnBoardheader" v-bind:class="changeMode">
										<th v-if="columns[0].isOn == true" style="width: 75px;cursor: pointer;" v-on:click="setArrange('b', sorting.arrange)">코인</th>
										<th v-if="columns[1].isOn == true"  v-on:click="setArrange('btcBid', sorting.arrange)" style="cursor: pointer;">{{value.exInfo.targetName.replace('huobipro','HuobiKorea')}}(BTC)</th>
										<th v-if="columns[2].isOn == true"  v-on:click="setArrange('e', sorting.arrange)" style="cursor: pointer;">{{value.exInfo.targetName.replace('huobipro','HuobiKorea')}}({{value.exInfo.targetMarketSymbol}})</th>
										<th v-if="columns[3].isOn == true"  v-on:click="setArrange('f', sorting.arrange)" style="cursor: pointer;">{{value.exInfo.targetName.replace('huobipro','HuobiKorea')}}(￦)</th>
										<th v-if="columns[4].isOn == true"  v-on:click="setArrange('d', sorting.arrange)" style="cursor: pointer;">{{value.exInfo.criteriaName}}(￦)</th>
										<th v-if="columns[5].isOn == true"  v-on:click="setArrange('l', sorting.arrange)" style="cursor: pointer;" title="코인가격 변화율 거래소별로 기준시간이 다르며 해당 거래소 기준으로 적용됩니다.">등락(%)</th>
										<th v-if="columns[6].isOn == true"  v-on:click="setArrange('m', sorting.arrange)" style="cursor: pointer;" title="코인거래량 거래소별로 기준시간이 다르며 해당 거래소 기준으로 적용됩니다.">거래량(억)</th>
										<th v-if="columns[7].isOn == true"  v-on:click="setArrange('btcPercent', sorting.arrange)" style="cursor: pointer;"
										 title="대상거래소의 BTC마켓 가격과 기준거래소의 법정화폐마켓 가격을 BTC가격으로 환산한 가격의 차액입니다.">
										BTC차액(￦)
										</th>
										<th v-if="columns[8].isOn == true" v-on:click="setArrange('h', sorting.arrange)" style="cursor: pointer;">김치프리미엄(￦)</th>
									</tr>
								</thead>
								<tbody v-bind:class="changeMode">
									<tr v-if="value.exdiff.length > 0" v-for="item in value.exdiff">
										<td v-if="columns[0].isOn == true" v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)">

											<div class="symLeft">
												<img style="width: 14px" :src="favorImageUrl(item.b)" v-on:click.stop.prevent="toggleFavor(item.b)">
												<img class="cryptoIcon"
													 :src="item.symImg"
													 @error="onImgError()"
											    >
											</div>
											<div class="symRight">
												<span>{{item.b}}</span>
											</div>
										</td>

										<template v-if="columns[1].isOn == true">
											<td v-if="isAlram == true" v-on:click="setAlram(value.exInfo, item.b, 'btcBid' , item.btcBid)" class="td_price" v-bind:class="item.btcBidUpDown">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'btcBid'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												{{item.btcBid}}
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.btcBidUpDown">
												{{item.btcBid}}
											</td>
										</template>

										<template v-if="columns[2].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'e' , item.e)" class="td_price" v-bind:class="item.targetBidUpDown">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'e'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												<template v-if="item.i == 'BTC'">
													<span style="color: #8484b5">{{item.e}}</span>
												</template>
												<template v-else>
													{{item.e}}
												</template>
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.targetBidUpDown">
												<template v-if="item.i == 'BTC'">
													<span style="color: #8484b5">{{item.e}}</span>
												</template>
												<template v-else>
													{{item.e}}
												</template>
											</td>
										</template>

										<template v-if="columns[3].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'f' , item.f)" class="td_price" v-bind:class="item.targetBidUpDown">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'f'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												<template v-if="item.i == 'BTC'">
													<span style="color: #8484b5">{{item.f}}</span>
												</template>
												<template v-else>
													{{item.f}}
												</template>
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.targetBidUpDown">
												<template v-if="item.i == 'BTC'">
													<span style="color: #8484b5">{{item.f}}</span>
												</template>
												<template v-else>
													{{item.f}}
												</template>
											</td>
										</template>


										<template v-if="columns[4].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'd' , item.d)" class="td_price" v-bind:class="item.criteriaBidUpDown">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'd'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												{{item.d}}
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.criteriaBidUpDown">{{item.d}}</td>
										</template>

										<template v-if="columns[5].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'l' , item.l)" class="td_price" v-bind:class="item.lclass">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'l'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												{{item.l}}
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.lclass">{{item.l}}</td>
										</template>

										<template v-if="columns[6].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'm' , item.m)" class="td_price" >
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'm'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												{{item.m}}
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price">{{item.mm}}</td>
										</template>

										<template v-if="columns[7].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'btcPercent' , item.btcPercent)" class="td_price" v-bind:class="item.btcGapUpDown">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'btcPercent'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												{{item.btcGap}} {{item.btcPercent}}
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.btcGapUpDown">{{item.btcGap}} {{item.btcPercent}}</td>
										</template>

										<template v-if="columns[8].isOn == true">
											<td v-if="isAlram == true"  v-on:click="setAlram(value.exInfo, item.b, 'h' , item.h)" v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.gapUpDown">
												<template  v-for="alram in item.alramArr">
													<template v-if="alram.gb == 'h'">
														<template v-if="alram.alramToggle">
															<img class="alramIconTd" :src="cdnPath + '/images/alramon.svg'">
														</template>
														<template v-else>
															<img class="alramIconTd" :src="cdnPath + '/images/alram.svg'">
														</template>
													</template>
												</template>
												{{item.g}} {{item.h}}
											</td>
											<td v-else v-on:click="showChart(item.b, item.i, value.exInfo.targetName, index)" class="td_price" v-bind:class="item.gapUpDown">{{item.g}} {{item.h}}</td>
										</template>
									</tr>
									<tr v-else>
										<td colspan="7" style="text-align: center">해당 거래소에서 데이터를 불러올 수 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</template>
					</div>
				</div>


				<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
				<table id="cryptoChart" class="table">
					<thead>
						<tr>
							<th style="width: 10%"></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th style="width: 22%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="7" style="text-align: center;">
								차트선택&nbsp;&nbsp;&nbsp;&nbsp;
								<label><input type="radio" name="selChartKind" class="btn-primary" value="Tradingview"/>Tradingview</label>&nbsp;&nbsp;
								<label><input type="radio" name="selChartKind" class="btn-primary" value="Cryptowat"/>Cryptowat</label>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								마켓선택&nbsp;&nbsp;&nbsp;&nbsp;
								<label><input type="radio" name="selMarketKind" class="btn-primary" value="BTC"/>BTC</label>&nbsp;&nbsp;
								<label><input type="radio" name="selMarketKind" class="btn-primary" value="USDT" checked="checked"/>USD(T)</label>
							</td>
						</tr>
						<tr id="tvTimePeriod">
							<td colspan="7" style="text-align: center;">
								시간간격&nbsp;&nbsp;&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="1"/>1분</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="3"/>3분</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="5"/>5분</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="15"/>15분</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="30"/>30분</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="1H"/>1시간</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="4H"/>4시간</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="1D"/>1날</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="1W"/>1주</label>&nbsp;&nbsp;
								<label><input type="radio" name="tvTimePeriod" class="btn-primary" value="1M"/>1달</label>&nbsp;&nbsp;
							</td>
						</tr>
						<tr id="cryptoTimePeriod">
							<td colspan="7" style="text-align: center;">
								시간간격&nbsp;&nbsp;&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="1M"/>1분</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="3M"/>3분</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="5M"/>5분</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="15M"/>15분</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="30M"/>30분</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="1H"/>1시간</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="4H"/>4시간</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="1D"/>1날</label>&nbsp;&nbsp;
								<label><input type="radio" name="cryptoTimePeriod" class="btn-primary" value="1W"/>1주</label>&nbsp;&nbsp;
							</td>
						</tr>
						<tr>
							<td colspan="7" style="text-align: center;">
							</td>
						</tr>
						<tr>
							<td colspan="6" id="chart-container"  style="height: 450px;">
							</td>
							<td colspan="1" class="trade" id="trade_container">
								<div id="app-7" class="tradeDiv">
									<ol>
										<todo-item v-for="item in tradeList" v-bind:todo="item">
										</todo-item>
									</ol>
								</div>
								<button id="historyClose" class="ellipse_btn" style="width:100%">거래기록 창 닫기</button>
							</td>
						</tr>
					</tbody>
				</table>

							<div id="rhkdrh3">


									<a href="https://www.bybit.com/ko-KR/register?affiliate_id=15417&language=ko-KR&group_id=17616&group_type=1" onclick="captureOutboundLink('https://www.bybit.com/ko-KR/register?affiliate_id=15417&language=ko-KR&group_id=17616&group_type=1', 'bybitoutboundPC'); return false;" style="cursor: hand">
										<img alt="이 링크를 통해 가입하면 거래수수료의 15% 돌려 받습니다." src="https://cdn1.cryprice.com/images/donate/bybittogether.png" style="width: 100%">
									</a>

									<div class="margintop10"></div>


										<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
										<!-- 채창위 시세판 밑 -->
										<ins class="adsbygoogle"
										     style="display:inline-block;width:763px;height:240px"
										     data-ad-client="ca-pub-4019630459292914"
										     data-ad-slot="1293210925"></ins>
										<script>
										     (adsbygoogle = window.adsbygoogle || []).push({});
										</script>


							</div>
							<div class="margintop10"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12" style="padding: 0 0 0 0">


						</div>
					</div>
					<div class="margintop10"></div>
				</div>

				<div class="col-sm-4">
					  <div id="chatIframe_fix">

					<div class="liqiArea" id="goDetail" style="cursor:pointer;">
						<div class="liqiMainTitle">
							<span>
								바이낸스 24시간 누적 강제 청산 액  - BTCUSD
							</span>
    						<span class="folding" title="비트맥스 상세"><img src="https://cdn1.cryprice.com/images/chat/newchat.png" style="width:10px;"></span>
						</div>
						<div class="liqiMain">
							<div class="liqiLongEx">
								<span>누적 롱 청산액</span>
								<span id="liqiLongEx" class="exLongSpan"></span>
							</div>
							<div class="liqiShortEx">
								<span id="liqiShortEx" class="exShortSpan"></span>
								<span>누적 숏 청산액</span>
							</div>
						</div>
						<div class="liqiSub">
							<div class="liqiLong">
								<span id="liqiLong">$500,000</span>
							</div>
							<div class="liqiShort">
								<span id="liqiShort">$500,000</span>
							</div>
						</div>
					</div>

	<div id="chatroom" class="chat_info room_info">
		<!--
		<button id="room1" onclick="setChatRoom('room1')" class="circle_btn30">ch.1</button>
		 -->
		<button id="roomko" onclick="setChatRoom('ko')" class="circle_btn30">ch.1</button>
		&nbsp;
		<button id="roomen" onclick="setChatRoom('en')" class="circle_btn30">ch.2</button>
		&nbsp;&nbsp;&nbsp;
    	<span id="chatUsers" class="white"></span><span class="white">명 </span>
    	<span class="white">(총 </span><span id="chatWindowss" class="white"></span><span class="white">명)</span>

    	<div class="adblink">
	  		<span class="setcolor">
	  			<input class="jscolor" onchange="update(this.jscolor)" value="F4F4F4" placeholder="채팅색변경">
	  		</span>
    		<span id="resizechat" class="folding" title="채팅 닫기"><img src="https://cdn1.cryprice.com/images/chat/arrowdown.png"></span>
    		<span id="newchat" class="folding" title="채팅 새창열기"><img src="https://cdn1.cryprice.com/images/chat/newchat.png"></span>
    		<span id="closechat" class="folding" title="채팅 닫기"><img src="https://cdn1.cryprice.com/images/chat/cross.png"></span>
    	</div>
	</div>
	<div id="div_chat_notice">
   		<span title="공지사항"><img class="noticeImg" src="https://cdn1.cryprice.com/images/chat/확성기.svg"/></span>
		<span id="sp_notice_on_chat"></span>
   		<span id="sp_more_notice" class="sp_more" title="공지사항목록"><img class="noticeImg" src="https://cdn1.cryprice.com/images/chat/플러스.svg"/></span>
	</div>

	<hr class="chathr"/>
  	<div class="chat_btn_grp">
  		<button id="alramIcon" class="label label-default setting">알람</button>
  		<button id="op1" class="label label-default setting">초기화</button>
  		<button id="op2" class="label label-default setting">방청소</button>
  		<button id="op3" class="label label-default setting">낮/밤</button>
  		<button id="op4" class="label label-default setting">채팅 끔</button>
  		<button id="op5" class="label label-default setting">봇 끔</button>
  		<button id="op7" class="label label-default setting">폰트</button>
  		<button id="op6" class="label label-default setting">호칭</button>
  		<button id="op8" class="label label-default setting">도움말</button>
  	</div>
	<hr class="chathr"/>
  	<div class="chat_btn_grp">
  		<button id="ops1" class="label label-danger setting">핑거스냅</button>
  		<button id="ops2" class="label label-primary setting">아이콘</button>
  		<button id="ops3" class="label label-primary setting">환생</button>

  		<button id="server0" class="label label-primary setting">느</button>
  		<button id="server1" class="label label-primary setting">빠</button>
  		<button id="server2" class="label label-primary setting">이</button>
  		<button id="server3" class="label label-primary setting">마</button>
  		<button id="server4" class="label label-primary setting">찐</button>
  		<button id="server5" class="label label-primary setting">완</button>
  		<button id="server6" class="label label-primary setting">1</button>
  		<button id="server7" class="label label-primary setting">2</button>

  		<!--
  		<button id="ops2" class="label label-primary setting">환생</button>
  		<button id="ops4" class="label label-primary setting">부스터</button>
  		<button id="ops5" class="label label-primary setting">광고제거</button>
  		 -->
  	</div>

  	<div id="myProgress">
		<div id="myBar"></div>
  	</div>

	<div id="div_vote_notice" style="display: none;">
   		<span title="공지사항"><img class="noticeImg" src="https://cdn1.cryprice.com/images/chat/확성기.svg"/></span>
		<span class="voteText">
		DPV(개돼지) 투표에 참여 해주세요! </br>
		아래 버튼 중 한개를 선택 해서, </br>
		가상화폐 시장 전망을 예측 해보세요.  </br>
		투표 참여자 에게는 전투력 보너스가 지급됩니다.
		</span>
   		<span id="voteExtend" class="sp_more" title="펼치기"><img class="noticeImg" src="https://cdn1.cryprice.com/images/chat/arrowdown.png"/></span>
		<div class="margintop5"></div>
		<div class="vote_btn_grp">
			<button id="vote1" class="vote_btn top">상승</button>
			<button id="vote2" class="vote_btn top">하락</button>
		</div>
	</div>

  	<div id="chatboard" class="chatboard">
	    <ul id="messages" class="messages"></ul>
  	</div>
    <div id="div_chatform" class="chatform">
   		<input id="m" autocomplete="off" maxlength='300' placeholder=""/><!--<button>Send</button>-->
    </div>
    <div style="position: fixed;;">
	    <div id="chatLoading" class="chatLoading">
		    <img id="chatLoadingImg" src="https://cdn1.cryprice.com/images/chat/chatloading.svg"/>
	    </div>
    </div>
  </div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/my_js/my_chat.js?v=2.62"></script>
				</div>
			</div>
		</div>

		<div class="container contents">
			<div class="row">
				<div class="col-sm-12">


<div id="js-layer" class="layer hidden">
	<div id="layerText">
	</div>
	<div class="closeDiv">
		<button id="updateClose" type="button" class="">close</button>
	</div>
</div>

<script>
//$('.js-open').click(function () {
//});
$("#updateClose").click(function () {
	$(this).parent().parent().addClass("hidden");
});
</script>
				</div>
			</div>
		</div>


<div class="block"></div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footerText">All content © Cryprice. 2018. All rights reserved. contact : jkjminer@gmail.com</div>
			</div>
		</div>
	</div>
</div>
	</div>

	<script>
		$(document).ready(function(){
			$("#filterOnOffBtn").click(function(){
				if($("#collapseFilter").hasClass("in")) {
				    setCookie("collapseFilter", "off");
				} else {
				    setCookie("collapseFilter", "on");
				}
			});
			if(getCookie("collapseFilter") == "on") {
				$("#collapseFilter").addClass("in");
			} else {
				$("#collapseFilter").removeClass("in");
			}

			$("#domiChartBtn").click(function(){
				if($("#collapseChart").hasClass("in")) {//collapseChart
				    setCookie("collapseChart", "off");
				} else {
				    setCookie("collapseChart", "on");
				}
			});
			if(getCookie("collapseChart") == "on") {
				$("#collapseChart").addClass("in");
			} else {
				$("#collapseChart").removeClass("in");
			}

		  	$("#goDetail").click(function() {
		  		var popUrl = "/binance";
				window.open(popUrl, '_blank');
		  	});
		});
	</script>

<script src="/my_js/allMainBody.js?v=1.95"></script>
<script src="/javascripts/main.js?v=1.10"></script>
<script src="https://cdn1.cryprice.com/javascripts/vue.min.js?v=2.6.12"></script>
<script src="https://cdn1.cryprice.com/javascripts/jquery.min.js"></script>
<script src="https://cdn1.cryprice.com/javascripts/jquery-ui.min.js"></script>
<script src="https://cdn1.cryprice.com/javascripts/bootstrap.min.js"></script>
<script src="https://cdn1.cryprice.com/javascripts/autolink-min.js"></script>
<script src="https://cdn1.cryprice.com/javascripts/pako.min.js"></script>
<script src="https://cdn1.cryprice.com/javascripts/jquery.animateNumber.min.js"></script>
<script src="https://cdn1.cryprice.com/javascripts/xss.min.js"></script>
<script src="https://cdn1.cryprice.com/my_js/common.js?v=1.46"></script>
<script src="https://cdn1.cryprice.com/my_js/commonstatus.js?v=1.18"></script>
<script src="https://cdn1.cryprice.com/javascripts/jscolor.min.js"></script>
<script type="text/javascript" src="https://static.cryptowat.ch/assets/scripts/embed.bundle.js"></script>
<script src="https://ticker2.cryprice.com/socket.io/socket.io.js"></script>
<script>
var serverIndex = "0";
var socket = io(tickerUrl);
var chatSocket = io(url);

</script>

<script>
var PAGE_ID = "all";
if( PAGE_ID == "all" ){
	$("a[href$='/']").parent().addClass("active");
}else{
	$("a[href$='"+PAGE_ID+"']").parent().addClass("active");
}

if(!String.prototype.startsWith){
	String.prototype.startsWith = function(searchString, position) {
		position = position || 0;
		return this.indexOf(searchString, position) === position;
	};
}

class Preloader {
  constructor () {}
  static series (imageArray) {
    let n = imageArray.length
    for (let i = 0; i < n; i++) {
      let img = new Image()
      img.src = imageArray[i]
    }
  }
}

/*
var fileList = "";
var fileList = fileList.split(",");
for(var i=0; i<fileList.length; i++) {
	fileList[i] = "/cryptocurrency-icons-master/svg/color/" + fileList[i];
}
Preloader.series(fileList);
 */
</script>

<script src="https://cdn1.cryprice.com/my_js/cardsection.js?v=1.24"></script>

<script>

var tradingViewTheme = "Light";

if(getCookie("changeMode") == ".밤") {
	tradingViewTheme = "Dark";
}

var viewLocale = "en";
if(locale == "ko") {
	viewLocale = "kr";
}

var tvdomi = new TradingView.widget(
		{
			"autosize": true,
			"symbol": "CRYPTOCAP:BTC.D" ,
			"interval": "1D",
			"timezone": "Asia/Seoul",
			"theme": tradingViewTheme,
			"style": "1",
			"locale": viewLocale,
			"toolbar_bg": "#f1f3f6",
			"enable_publishing": false,
			"allow_symbol_change": true,
			"container_id": "domichart"
		}
);

var tvUsdt = new TradingView.widget(
		{
			"autosize": true,
			"symbol": "BITHUMB:BTCKRW/BINANCE:BTCUSDT" ,
			"interval": "1D",
			"timezone": "Asia/Seoul",
			"theme": tradingViewTheme,
			"style": "1",
			"locale": viewLocale,
			"toolbar_bg": "#f1f3f6",
			"enable_publishing": false,
			"allow_symbol_change": true,
			"hide_top_toolbar": true,
			"container_id": "tetherChart"
		}
);
</script>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5563SK6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
